
/* body {
  background-color: #573f83;
  display: flex;
  justify-content: center;
}

.caixa-from {
  background-color:pink;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 20px;
}
input {
  margin: 8px;
  padding: 8px;
}
#botao {
  background-color: #9d00bd;
  color: white;
  cursor: pointer;
} */